@using BcdSample.Common.BcdForms
<hr />

<h3>ComponentLevel2</h3>
<div>count: @Count</div>
<button @onclick="OnClick">AddCount</button>

<button @onclick="OpenANewNestingForm">OpenANewNestingForm</button>



@code
{
    [Parameter]
    public int Count { get; set; }

    [Parameter]
    public EventCallback<int> CountChanged { get; set; }

    async Task OnClick()
    {
        Count++;
        if (CountChanged.HasDelegate)
        {
            await CountChanged.InvokeAsync(Count);
        }
    }

    async Task OpenANewNestingForm()
    {
        var form = new Nesting();
        await form.ShowAsync();
    }
}
