<h3>ComponentLevel1WithFunc</h3>
<div>bind-count: @count</div>
<button @onclick="OnClick">CalcCountIsEvent</button>


<ComponentLevel2 @bind-Count="count"></ComponentLevel2>
@code
{
    int count = 0;

    [Parameter]
    public bool IsEvent { get; set; }

    [Parameter]
    public Func<bool, Task> IsEventChanged { get; set; }

    async Task OnClick()
    {
        IsEvent = count % 2 == 0;
        if (IsEventChanged != null)
        {
            await IsEventChanged.Invoke(IsEvent);
        }
    }
}