@inherits BcdForm

<h3>CallJs</h3>

@code {
    protected override void InitComponent()
    {
        base.Title = "Call Js";
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JsInvokeVoidAsync("alert", "from AfterBcdRenderAsync");
    }
}
