@inherits BcdForm

<h3>DisableHeader</h3>

<div>
    <p>
        If you want to call the <b>base.CloseAsync</b>, be sure to use <b>pure event handlers</b>!
    </p>
    <p>
        It's in EventUtil class and is provided by SteveSandersonMs
    </p>
    <p>
        Reference
        <br />
        <a href="https://github.com/dotnet/aspnetcore/issues/18919#issuecomment-735969441" target="_blank">issue</a>
        &nbsp;&nbsp;
        &nbsp;&nbsp;
        <a href="https://gist.github.com/SteveSandersonMS/8a19d8e992f127bb2d2a315ec6c5a373" target="_blank">gist of github</a>
    </p>
</div>

<div style="text-align: right">
    <button @onclick="Close">close</button>
</div>

@code {
    protected override void InitComponent()
    {
        base.EnableHeader = false;
    }

    private async Task Close()
    {
        await this.CloseAsync();
    }
}
