@using System.ComponentModel
@inherits BcdForm
<h3>bcd form's life cycle</h3>

<div>
    1. [InitComponent -->] OnShowingAsync --> AfterBcdRender[Async] <br />
    2. InvokeStateHasChanged[Async] --> AfterBcdRender[Async] <br />
    3. OnClosingAsync --> OnDestroyingAsync 
    <br /><br />
    <mark>InitComponent</mark> will be triggered before <mark>OnShowingAsync</mark> when the form is not in the DOM.
</div>

@code {
    protected override void InitComponent()
    {
        base.Title = "life cycle";
        base.DestroyOnClose = false;
        Console.WriteLine("InitComponent");
    }

    protected override Task OnShowingAsync(CancelEventArgs e)
    {
        Console.WriteLine("OnShowingAsync");
        return base.OnShowingAsync(e);
    }

    protected override Task OnClosingAsync(CancelEventArgs e)
    {
        Console.WriteLine("OnClosingAsync");
        return base.OnClosingAsync(e);
    }

    protected override Task OnDestroyingAsync(CancelEventArgs e)
    {
        Console.WriteLine("OnDestroyingAsync");
        return base.OnDestroyingAsync(e);
    }

    protected override Task AfterBcdRenderAsync(bool firstRender)
    {
        Console.WriteLine("AfterBcdRenderAsync");
        return base.AfterBcdRenderAsync(firstRender);
    }
}
