@using System.ComponentModel
@inherits BcdForm
<h3>bcd form's life cycle</h3>

<div>
    1. [InitComponent -->] OnShowingAsync --> OnAfterRender[Async] <br />
    2. StateHasChanged[Async] --> OnAfterRender[Async] <br />
    3. OnClosingAsync --> OnDestroyingAsync 
    <br /><br />
    <mark>InitComponent</mark> will be triggered before <mark>OnShowingAsync</mark> when the form is not in the DOM.
</div>

@code {
    protected override void InitComponent()
    {
        base.Title = "life cycle";
        Console.WriteLine("InitComponent");
    }

    protected override Task OnShowingAsync(CancelEventArgs e)
    {
        Console.WriteLine("OnShowingAsync");
        return base.OnShowingAsync(e);
    }

    protected override Task OnClosingAsync(CancelEventArgs e)
    {
        Console.WriteLine("OnClosingAsync");
        return base.OnClosingAsync(e);
    }

    protected override Task OnDestroyingAsync(CancelEventArgs e)
    {
        Console.WriteLine("OnDestroyingAsync");
        return base.OnDestroyingAsync(e);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("OnAfterRenderAsync");
        return base.OnAfterRenderAsync(firstRender);
    }

    protected override void Dispose(bool disposing)
    {
        Console.WriteLine("Dispose");
        base.Dispose(disposing);
    }

}
