@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="OpenABcdForm">OpenABcdForm</button>


@code
{
    BcdForm bcdFormTest = null;

    int index = 0;

    async void OpenABcdForm()
    {
        if (index % 3  == 0)
        {

            if (index > 0)
            {
                // to test dispose method:
                // Can DOM be removed from document correctly
                bcdFormTest?.Dispose();
                await Task.Delay(2000);
            }

            bcdFormTest = new BcdForm1();
            await bcdFormTest.ShowAsync();
        }
        else
        {
            if (bcdFormTest.Visible)
            {
                await bcdFormTest.CloseAsync();
            }
            else
            {
                await bcdFormTest.ShowAsync();
            }
        }

        index++;
    }
}
