
$prefix-cls: 'bcd-form';
$form-header-height: '50px';
$header-border-bottom-color:#f0f0f0;
$header-background-color: #fff;
$content-background-color:#fff;

$title-color: rgba(0, 0, 0, .85);
$tool-color: rgba(0, 0, 0, 0.45);
$tool-hover-color: rgba(0, 0, 0, .75) ;


.draggable {
    cursor: move;
}

.#{$prefix-cls}-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    > div {
        position: relative;
        pointer-events: none;
        width: 100%;
        height: 100%;

        .#{$prefix-cls}-root {
            position: absolute;
            width: 100%;


            .#{$prefix-cls}-mask {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1000;
                height: 100%;
                background-color: rgba(0,0,0,.45);

                &.#{$prefix-cls}-mask-hidden {
                    display: none;
                }
            }
        }
    }
}

.#{$prefix-cls} {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum';
    pointer-events: none;
    position: relative;
    top: 100px;
    width: auto;
    max-width: calc(100vw - 32px);
    margin: 0 auto;
    z-index: 20210307;

    .#{$prefix-cls}-content {
        position: relative;
        background-color: $content-background-color;
        background-clip: padding-box;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 3px 6px -4px rgba(0, 0, 0, .12), 0 6px 16px 0 rgba(0, 0, 0, .08), 0 9px 28px 8px rgba(0, 0, 0, .05);
        pointer-events: auto;

        .#{$prefix-cls}-header {
            color: rgba(0, 0, 0, .85);
            background: #{$header-background-color};
            border-bottom: 1px solid #{$header-border-bottom-color};
            border-radius: 2px 2px 0 0;
            display: flex;


            .#{$prefix-cls}-title {
                padding: 12px 12px;
                flex-grow: 1;
                margin: 0;
                color: $title-color;
                font-weight: 500;
                font-size: 16px;
                line-height: 22px;
                word-wrap: break-word;
                display: flex;
                align-items: center;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                font-family: 'Microsoft YaHei', Helvetica, SimHei,sans-serif;
            }

            & .#{$prefix-cls}-header-tools {
                padding: 12px 12px;
                padding-left: 4px;
                display: flex;
                flex-grow: 0;

                > button {
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    width: 36px;
                    /*height: 36px;*/
                    margin-top: -12px;
                    margin-bottom: -12px;
                    padding: 0;
                    z-index: 10;
                    color: $tool-color;
                    font-weight: 700;
                    line-height: 1;
                    text-decoration: none;
                    background: 0 0;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    transition: color .3s;

                    &:disabled {
                        cursor: default;
                        color: #ccc;
                    }

                    &:enabled {
                        &:focus, &:hover {
                            color: $tool-hover-color;
                            text-decoration: none;
                        }
                    }

                    > span {
                        width: 100%;
                    }
                }
            }
        }

        .#{$prefix-cls}-body {
            padding: 24px;
            font-size: 14px;
            line-height: 1.5715;
            word-wrap: break-word;
            overflow: auto;
        }
    }

    .#{$prefix-cls}-open {
        overflow: hidden;
    }
}

.#{$prefix-cls}-centered {
    text-align: center;

    &::before {
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        content: '';
    }

    .#{$prefix-cls} {
        top: 0;
        display: inline-block;
        text-align: left;
        vertical-align: middle;
        flex: 1;
    }
}

@media (max-width: 767px) {
    .#{$prefix-cls} {
        max-width: calc(100vw - 16px);
        margin: 8px auto;
    }

    &.#{$prefix-cls}-centered {
        .#{$prefix-cls} {
            text-align: right;
        }
    }
}


.#{$prefix-cls}-min {
    position: absolute;

    .bcd-form-min-btn {
        pointer-events: none;
    }

    .bcd-form {
        width: 200px !important;
        top: calc(100vh - #{$form-header-height});
        display: inline-block;

        .bcd-form-content {
            box-shadow: none;
            border: 1px solid #efefef;
            border-radius: 2px 2px;

            .bcd-form-body {
                display: none;
            }
        }
    }

    &.min-lb {

        @for $i from 0 to 20 {
            .min-lb-#{$i} {
                left: 200px * $i;
            }
        }
    }

    &.min-rb {

        @for $i from 0 to 20 {
            .min-rb-#{$i} {
                position: absolute;
                right: 200px * $i;
            }
        }
    }
}

.#{$prefix-cls}-max {
    position: absolute;
    width: 100vw;

    .bcd-form {
        width: 100vw !important;
        max-width: 100vw;
        top: 0;
        left: 0;

        .bcd-form-content {
            box-shadow: none;


            .bcd-form-header.draggable {
                cursor: default;
                pointer-events: none;
            }

            .bcd-form-header-tools {
                pointer-events: all;
            }

            .bcd-form-body {
                height: calc(100vh - #{$form-header-height});
                max-height: calc(100vh - #{$form-header-height}) !important;
            }
        }
    }
}
